node_modules/**/*
.expo/**/*
.idea
android/.idea
android/app/build/**/*
ios/Pods/**/*
ios/firealarmapp.xcworkspace/xcuserdata/**/*
android/build/**/*
android/app/apks/**/*
android/.gradle/**/*
android/local.properties
android/.DS_Store