node_modules/**/*
.expo/**/*
.idea
android/app/build/**/*
ios/Pods/**/*
ios/firealarmapp.xcworkspace/xcuserdata/**/*
android/.gradle/4.4/taskHistory/taskHistory.bin
android/build/**/*
android/app/**/*
